<html>

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <style>
        {{ asset "style.css" "utf8" }}
    </style>
</head>
    <body>
    <div class="paperA4">
        <table>
            <tr>
                <td>
                    <img src="{{asset "Picture1.png" "dataURI"}}" style="width:80px; max-width:300px;" />
                </td>
                <td>
                    <p>የድርጅቱ ስም፦ ብርሃንና ሰላም ማተሚያ ድርጅት</p>
                    <p>Company Name: Bernanena Selam Printing Enterprise</p>
                </td>
                <td colspan="2">
                    <p>Document No. BSOF-307</p>
                    <p>ቅጽ ቁጥር፦ </p>
                </td>
            </tr>
            <tr>
                <td>
                    <h5>ርዕስ</h5>
                    <h5>Title</h5>
                </td>
                <td>
                    የጠቅላላ አገልግሎት ሥራዎች አፈፃፀም ሪፖርት
                </td>
                <td>
                    <h5>Reision N0. 00</h5>
                    <h5>የክለሳ ቁጥር</h5>
                </td>
                <td>
                    <h5>Page No. 1 of 1</h5>
                    <h5>ገጽ</h5>
                </td>
            </tr>
        </table>
        <h2>በተሸከርካሪ ሥምሪት ክፍል በኩል ከ ግንቦት 21 ቀን 2016 እስከ ሰኔ 20 ቀን 2016 ዓ.ም የተከናወኑ ሥራዎች</h2>        
        <br>
        
        <table>
            <tr>
                <th>ቀን</th>
                <th>የተሽከርካሪ ዓይነት</th>
                <th>የሰሌዳ</th>
                <th>ዕቅድ</th>
                <th colspan="4">ጥቅም ላይ የዋለ  ነዳጅ</th>
                <th>በዕቅዱ መሠረት መጓዝ የነበረበት</th>
                <th colspan="2">የተጓዘው</th>
                <th colspan="2">ልዩነት</th>
                <th>(+ብልጫ)ማነስ በብር</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td colspan="2">ቤንዚን</td>
                <td colspan="2">ናፍጣ</td>
                <td></td>
                <td rowspan="2">ኪ/ሜ</td>
                <td rowspan="2">ኪ/ሜ ሌትር</td>
                <td rowspan="2">ኪ/ሜ</td>
                <td rowspan="2">ኪ/ሜ ሌትር</td>
                <td rowspan="2"></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>ሊትር</td>
                <td>ብር</td>
                 <td>ሊትር</td>
                <td>ብር</td>
                <td></td>
            </tr>
            {{#each cmonthly}}
            <tr>
                <td></td>
                <td>{{vehicle.type}} {{vehicle.make}} {{vehicle.model}} {{year}}</td>
                <td>{{vehicle.license_plate}}</td>
                <td>{{vehicle.km_per_liter}}</td>
                <td>{{totalBenzineUsed}}</td>
                <td>{{totalBenzineCost}}</td>
                <td>{{totalNaftaUsed}}</td>
                <td>{{totalNaftaCost}}</td>
                <td>{{kmShouldHaveTraveled}}</td>
                <td>{{totalKilometers}}</td>
                <td>{{usedLiters}}</td>
                <td>{{differenceKM}}</td>
                <td>{{differenceLts}}</td>
                <td></td>
            </tr>
            {{/each}}
        </table>
        <br>
        <table>
            <tr>
                <p>
                    <u>
                        <h3>ማስታወሻ</h3>
                    </u>
                </p>
            </tr>
            <tr>
                <p>
                    ይህ ቅጽ በአንድ ቅጂ ከተሰራ በኋላ ከተሽከርካሪዉ ጋር እንዲዘዋወር ለሹፌሩ ይሰጥና አገልግሎቱ ሲያበቃ በተጥቃሚዉ ክፍል አጠቃቀሙ ተገምግሞ ለትራንስፖርት ክፍል
                ያስረክባል፡፡
                </p>
            </tr>
            <tr>
                <p>
                    ይህ ቅጽ ከስራ ዉጪና በበዓላት ቀናት ለሚሰጥ አገልግሎት ተቆጣጣሪ በድርጅቱ ዉስጥ ያለ የትራንስፖርት ሃላፊ ነዉ፡፡
                </p>    
            </tr>
        </table>
        <div class=".page-break"></div>
        <table>
            <tr>
                <td>
                    <img src="{{asset "Picture1.png" "dataURI"}}" style="width:80px; max-width:300px;" />
                </td>
                <td>
                    <p>የድርጅቱ ስም፦ ብርሃንና ሰላም ማተሚያ ድርጅት</p>
                    <p>Company Name: Bernanena Selam Printing Enterprise</p>
                </td>
                <td colspan="2">
                    <p>Document No. BSOF-307</p>
                    <p>ቅጽ ቁጥር፦ </p>
                </td>
            </tr>
            <tr>
                <td>
                    <h5>ርዕስ</h5>
                    <h5>Title</h5>
                </td>
                <td>
                    የጠቅላላ አገልግሎት ሥራዎች አፈፃፀም ሪፖርት
                </td>
                <td>
                    <h5>Reision N0. 00</h5>
                    <h5>የክለሳ ቁጥር</h5>
                </td>
                <td>
                    <h5>Page No. 1 of 1</h5>
                    <h5>ገጽ</h5>
                </td>
            </tr>
        </table>
    </div>

    <br>
    <div class="paperA4">
        <table>
            <tr>
                <th>ተ.ቁ</th>
                <th>የነዳጅ፣የቅባት እና አጠቃቀም በሚመለከት</th>
                <th>መለኪያ</th>
                <th colspan="2">ዕቅድ በሊትር/በኪ.ሜ</th>
                <th colspan="2">ክንውን</th>
                <th colspan="2">ልዩነት በንፅፅር ሲታይ</th>
                <th colspan="2">አፈጻጸም በ%</th>
                <th>አስተያየት</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>ሊትር ብዛት</td>
                <td>በዋጋ ብር</td>
                <td>ሊትር</td>
                <td>በዋጋ ብር</td>
                <td>ሊትር</td>
                <td>በዋጋ ብር</td>
                <td>በሊትር ብዛት</td>
                <td>በዋጋ</td>
                <td></td>
            </tr>
            <tr>
                <td>No</td>
                <td>Use</td>
                <td>Unit</td>
                <td>ሊትር</td>
                <td>ብር</td>
                 <td>ሊትር</td>
                <td>ብር</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Benzine</td>
                <td>Liters</td>
                <td>{{cmonthly.mlplan.benzine}}</td>
                <td>{{cmonthly.mlplan.benzine_cost}}</td>
                <td>{{cmonthly.summary.benzine}}</td>
                <td>{{cmonthly.summary.benzinePrice}}</td>
                <td>{{cmonthly.mlplan.benzine_diff_lts}}</td>
                <td>{{cmonthly.mlplan.benzine_diff_cost}}</td>
                <td>{{cmonthly.mlplan.benzine_perc_lts}}</td>
                <td>{{cmonthly.mlplan.benzine_perc_cost}}</td>
                <td></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Nafta</td>
                <td>Liters</td>
                <td>{{cmonthly.mlplan.nafta}}</td>
                <td>{{cmonthly.mlplan.nafta_cost}}</td>
                <td>{{cmonthly.summary.nafta}}</td>
                <td>{{cmonthly.summary.naftaPrice}}</td>
                <td>{{cmonthly.mlplan.nafta_diff_lts}}</td>
                <td>{{cmonthly.mlplan.nafta_diff_cost}}</td>
                <td>{{cmonthly.mlplan.nafta_perc_lts}}</td>
                <td>{{cmonthly.mlplan.nafta_perc_cost}}</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Oil</td>
                <td>Liters</td>
                <td>{{cmonthly.mlplan.oil_lts}}</td>
                <td>{{cmonthly.mlplan.oil_cost}}</td>
                <td>{{cmonthly.oil_tire.totalOilLts}}</td>
                <td>{{cmonthly.oil_tire.totalOilCost}}</td>
                <td>{{cmonthly.mlplan.oil_lts_diff}}</td>
                <td>{{cmonthly.mlplan.oil_cost_diff}}</td>
                <td>{{cmonthly.mlplan.oil_lts_perc}}</td>
                <td>{{cmonthly.mlplan.oil_cost_perc}}</td>
                <td></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Tire main.</td>
                <td>Count</td>
                <td>{{cmonthly.mlplan.tire_maint_cnt}}</td>
                <td>{{cmonthly.mlplan.tire_maint_cost}}</td>
                <td>{{cmonthly.oil_tire.totalTireMaintCount}}</td>
                <td>{{cmonthly.oil_tire.totalTireMaintCost}}</td>
                <td>{{cmonthly.mlplan.tire_cnt_diff}}</td>
                <td>{{cmonthly.mlplan.tire_cost_diff}}</td>
                <td>{{cmonthly.mlplan.tire_cnt_perc}}</td>
                <td>{{cmonthly.mlplan.tire_cost_perc}}</td>
                <td></td>
            </tr>
            <tr></tr>
        </table>
    </div>
</body>
</html>