<html>

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <style>
        {{ asset "style.css" "utf8" }}
    </style>
</head>
    <body>
    <div class="paperA4">
        <table>
            <tr>
                <td>
                    <img src="{{asset "Picture1.png" "dataURI"}}" style="width:80px; max-width:300px;" />
                </td>
                <td>
                    <p>የድርጅቱ ስም፦ ብርሃንና ሰላም ማተሚያ ድርጅት</p>
                    <p>Company Name: Bernanena Selam Printing Enterprise</p>
                </td>
                <td colspan="2">
                    <p>Document No. BSOF-307</p>
                    <p>ቅጽ ቁጥር፦ </p>
                </td>
            </tr>
            <tr>
                <td>
                    <h5>ርዕስ</h5>
                    <h5>Title</h5>
                </td>
                <td>
                    የጠቅላላ አገልግሎት ሥራዎች አፈፃፀም ሪፖርት
                </td>
                <td>
                    <h5>Reision N0. 00</h5>
                    <h5>የክለሳ ቁጥር</h5>
                </td>
                <td>
                    <h5>Page No. 1 of 1</h5>
                    <h5>ገጽ</h5>
                </td>
            </tr>
        </table>
        <h2>በተሸከርካሪ ሥምሪት ክፍል በኩል ከ ግንቦት 21 ቀን 2016 እስከ ሰኔ 20 ቀን 2016 ዓ.ም የተከናወኑ ሥራዎች</h2>        
        <br>
        
        <table>
            <tr>
                <th>ቀን</th>
                <th>የተሽከርካሪ ዓይነት</th>
                <th>የሰሌዳ</th>
                <th>ዕቅድ</th>
                <th colspan="4">ጥቅም ላይ የዋለ  ነዳጅ</th>
                <th>በዕቅዱ መሠረት መጓዝ የነበረበት</th>
                <th colspan="2">የተጓዘው</th>
                <th colspan="2">ልዩነት</th>
                <th>(+ብልጫ)ማነስ በብር</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td colspan="2">ቤንዚን</td>
                <td colspan="2">ናፍጣ</td>
                <td></td>
                <td rowspan="2">ኪ/ሜ</td>
                <td rowspan="2">ኪ/ሜ ሌትር</td>
                <td rowspan="2">ኪ/ሜ</td>
                <td rowspan="2">ኪ/ሜ ሌትር</td>
                <td rowspan="2"></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>ሊትር</td>
                <td>ብር</td>
                 <td>ሊትር</td>
                <td>ብር</td>
                <td></td>
            </tr>
            {{#each cdispatch.vehicle_requests}}
            <tr>
                <td>{{../cdispatch.assigned_date_t}}</td>
                <td>{{../cdispatch.departure_milage}}</td>
                <td>{{../cdispatch.departure_time_t}}</td>
                <td>{{../cdispatch.return_milage}}</td>
                <td>{{../cdispatch.return_time_act_t}}</td>
                <td></td>
                <td>{{../cdispatch.difference}}</td>
                <td>{{../cdispatch.refuel_liters}}</td>
                <td>{{../cdispatch.dispatcher.fname}} {{../cdispatch.dispatcher.mname}}</td>
                <td></td>
            </tr>
            {{/each}}
            <tr></tr>
            <tr></tr>
        </table>
        <br>
        <table>
            <tr>
                <p>
                    <u>
                        <h3>ማስታወሻ</h3>
                    </u>
                </p>
            </tr>
            <tr>
                <p>
                    ይህ ቅጽ በአንድ ቅጂ ከተሰራ በኋላ ከተሽከርካሪዉ ጋር እንዲዘዋወር ለሹፌሩ ይሰጥና አገልግሎቱ ሲያበቃ በተጥቃሚዉ ክፍል አጠቃቀሙ ተገምግሞ ለትራንስፖርት ክፍል
                ያስረክባል፡፡
                </p>
            </tr>
            <tr>
                <p>
                    ይህ ቅጽ ከስራ ዉጪና በበዓላት ቀናት ለሚሰጥ አገልግሎት ተቆጣጣሪ በድርጅቱ ዉስጥ ያለ የትራንስፖርት ሃላፊ ነዉ፡፡
                </p>    
            </tr>
        </table>
        <div class=".page-break"></div>
        <table>
            <tr>
                <td>
                    <img src="{{asset "Picture1.png" "dataURI"}}" style="width:80px; max-width:300px;" />
                </td>
                <td>
                    <p>የድርጅቱ ስም፦ ብርሃንና ሰላም ማተሚያ ድርጅት</p>
                    <p>Company Name: Bernanena Selam Printing Enterprise</p>
                </td>
                <td colspan="2">
                    <p>Document No. BSOF-307</p>
                    <p>ቅጽ ቁጥር፦ </p>
                </td>
            </tr>
            <tr>
                <td>
                    <h5>ርዕስ</h5>
                    <h5>Title</h5>
                </td>
                <td>
                    የጠቅላላ አገልግሎት ሥራዎች አፈፃፀም ሪፖርት
                </td>
                <td>
                    <h5>Reision N0. 00</h5>
                    <h5>የክለሳ ቁጥር</h5>
                </td>
                <td>
                    <h5>Page No. 1 of 1</h5>
                    <h5>ገጽ</h5>
                </td>
            </tr>
        </table>
    </div>

    <br>
    <div class="paperA4">
        <table>
            <tr>
                <th>ተ.ቁ</th>
                <th>የነዳጅ፣የቅባት እና አጠቃቀም በሚመለከት</th>
                <th>መለኪያ</th>
                <th colspan="2">ዕቅድ በሊትር/በኪ.ሜ</th>
                <th colspan="2">ክንውን</th>
                <th colspan="2">ልዩነት በንፅፅር ሲታይ</th>
                <th colspan="2">አፈጻጸም በ%</th>
                <th>አስተያየት</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>ሊትር ብዛት</td>
                <td>በዋጋ ብር</td>
                <td>ሊትር</td>
                <td>በዋጋ ብር</td>
                <td>ሊትር</td>
                <td>በዋጋ ብር</td>
                <td>በሊትር ብዛት</td>
                <td>በዋጋ</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>ሊትር</td>
                <td>ብር</td>
                 <td>ሊትር</td>
                <td>ብር</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            {{#each cdispatch.vehicle_requests}}
            <tr>
                <td>{{../cdispatch.assigned_date_t}}</td>
                <td>{{../cdispatch.departure_milage}}</td>
                <td>{{../cdispatch.departure_time_t}}</td>
                <td>{{../cdispatch.return_milage}}</td>
                <td>{{../cdispatch.return_time_act_t}}</td>
                <td></td>
                <td>{{../cdispatch.difference}}</td>
                <td>{{../cdispatch.refuel_liters}}</td>
                <td>{{../cdispatch.dispatcher.fname}} {{../cdispatch.dispatcher.mname}}</td>
                <td></td>
            </tr>
            {{/each}}
            <tr></tr>
            <tr></tr>
        </table>
    </div>
</body>
</html>