<html>

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <style>
        {{ asset "style.css" "utf8" }}
    </style>
</head>
    <body>
    <div class="paperA4">
        <table>
            <tr>
                <td>
                    <img src="{{asset "Picture1.png" "dataURI"}}" style="width:80px; max-width:300px;" />
                </td>
                <td>
                    <p>የድርጅቱ ስም፦ ብርሃንና ሰላም ማተሚያ ድርጅት</p>
                    <p>Company Name: Bernanena Selam Printing Enterprise</p>
                </td>
                <td colspan="2">
                    <p>Document No. BSOF-304</p>
                    <p>ቅጽ ቁጥር፦ </p>
                </td>
            </tr>
            <tr>
                <td>
                    <h5>ርዕስ</h5>
                    <h5>Title</h5>
                </td>
                <td>
                    የዉሎ አበል ቅድሚያ ክፍያ መጠየቅያና መክፈያ
                </td>
                <td>
                    <h5>Reision N0. 00</h5>
                    <h5>የክለሳ ቁጥር</h5>
                </td>
                <td>
                    <h5>Page No. 1 of 1</h5>
                    <h5>ገጽ</h5>
                </td>
            </tr>
        </table>
        <br>
        <table>
            <tr class="date">
                <td></td>
                <td>
                    <p>ቀን፦ <u>{{cdispatch.assigned_date}}</u></p>
                </td>
            </tr>
            <tr></tr>
            <tr class="form1">
                <td>1. የተጓዥ ስም፦ <u>{{cdispatch.request.user.fname}} {{cdispatch.request.user.mname}}</u></td>
                <td>የስራ መደብ <u>{{cdispatch.dd}} </td>
            </tr>
            <tr class="form1">
                <td>2. የሚሄድበት ስፍራ፦ {{cdispatch.request.destination}}</u></td>
            </tr>
            <tr class="form1">
                <td>3. የጉዞ ምክንያት {{cdispatch.request.description}}</td>
            </tr>
            <tr class="form1">
                <td>4. የሚነሳበት ቀን _________________________________________</td>
               <td>ሰዓት ______________________________</td>
            </tr>
            <tr class="form1">
               <td>5. የሚቆይበት ቀን ________________________________________</td>
            </tr>
            <tr class="form1">
               <td>6. የቀን ዉሎ አበል ልክ ብር _________________________________</td>
               <td>በፊደል /_____________________________</td>
            </tr>
            <tr class="form1">
                <td>7. የተጠየቀዉ ገንዘብ</td>
            </tr>
        </table>
        <table>
            <tr class="form1">
                <td></td>
                <td class="tno">7.1 ለዉሎ አበል ___________________________</td>
                <td>ብር _______________________________</td>
            </tr>
            <tr class="form1">
                <td></td>
                <td>7.2 ለሌሎች/ይግለጹ</td>
            </tr>
            <tr class="form1">
                <td class="rno"></td>
                <td class="tno"><dd>7.2.1 _____________________________</td>
                <td class="tno">ብር ______________________________ </td>
            </tr>
            <tr class="form1">
               <td class="rno"></td>
                <td class="tno"><dd>7.2.2 _____________________________</td>
                <td class="tno">ብር ______________________________ </td>
            </tr>
            <tr class="form1">
                <td class="rno"></td>
                <td class="tno"><dd>7.2.3 _____________________________</td>
                <td class="tno">ብር ______________________________ </td>
            </tr>
        </table>
        <table class="form2">
            <tr>
                <td></td>
                <td> ድምር __________________________________________</td>
                <td></td>
            </tr>
        </table>
        <table class="form2">
            <tr>
                <td> ያዘጋጀዉ ሰዉ ስም ________________________________</td>
                <td> ያረጋገጠው ሰዉ ስም _____________________________</td>
            </tr>
            <tr>
                <td> ፊርማ ______________________________</td>
                <td> ፊርማ ______________________________</td>
            </tr>

            <tr>
                <td> ያጸደቀዉ ሰዉ ስም _______________________________</td>
                <td> የተቀባይ ስም __________________________________</td>
            </tr>
            <tr>
                <td> ፊርማ ______________________________</td>
                <td> ፊርማ ______________________________</td>
            </tr>

        </table>
        <br>
        <br>
        <table class="notice">
            <tr>
                <p>
                    <u>
                        <strong>ማስታወሻ</strong>
                    </u>
                </p>
            </tr>
            <tr>
                <p>
                    ይህ ቅጽ በአንድ ቅጂ ተዘጋጅቶ ከጉዞ መልስ ከሚዘጋጀዉ የዉሎ አበል ማወራረጃ ቅጽ ጋር መያያዝ አለበት፡፡
                ያስረክባል፡፡
                </p>
            </tr>
        </table>
    </div>
</body>
</html>